@mixin text($style) {
  font-family: var(--text-#{$style}-family);
  font-size: var(--text-#{$style}-size);
  font-weight: var(--text-#{$style}-weight);
  line-height: var(--text-#{$style}-line-height);
  letter-spacing: var(--text-#{$style}-letter-spacing);
  text-transform: var(--text-#{$style}-transform);
}
