:root {
  --color-text-primary: var(--color-neutral-900);
  --color-text-secondary: var(--color-neutral-700);
  --color-text-tertiary: var(--color-neutral-500);
  --color-text-brand: var(--color-brand-800);
  --color-text-inverse: var(--color-neutral-0);
  --color-text-link: var(--color-brand-800);
  --color-text-decorative: var(--color-neutral-200);

  --color-bg-canvas: var(--color-neutral-0);
  --color-bg-surface: var(--color-neutral-0);
  --color-bg-surface-subtle: var(--color-neutral-50);
  --color-bg-surface-muted: var(--color-neutral-100);
  --color-bg-badge: var(--color-neutral-200);

  --color-border-subtle: var(--color-neutral-200);
  --color-border-default: var(--color-neutral-300);
  --color-border-brand: var(--color-brand-800);
  --color-border-focus: var(--color-brand-800);

  --color-action-primary-bg: var(--color-brand-800);
  --color-action-primary-fg: var(--color-neutral-0);
  --color-action-secondary-fg: var(--color-brand-800);
  --color-action-secondary-border: var(--color-neutral-300);

  --color-swatch-white-gold: var(--color-metal-white-gold);
  --color-swatch-yellow-gold: var(--color-metal-yellow-gold);
  --color-swatch-rose-gold: var(--color-metal-rose-gold);
  --color-swatch-platinum: var(--color-metal-platinum);

  --color-overlay-light: rgb(255 255 255 / 0%);
  --color-overlay-light-strong: rgb(255 255 255 / 80%);
  --color-overlay-subtle: rgb(250 250 250 / 0%);
}
