@font-face {
  font-family: "Suisse Intl";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("/fonts/suisse-intl/SuisseIntl-Light.woff2") format("woff2");
}

@font-face {
  font-family: "Suisse Intl";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/suisse-intl/SuisseIntl-Book.woff2") format("woff2");
}

@font-face {
  font-family: "Suisse Intl";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("/fonts/suisse-intl/SuisseIntl-Medium.woff2") format("woff2");
}
